.swiper-container {
    overflow: hidden;
}

.swiper-slide {
    width: auto;
}

.swiper-pagination {
    position: relative;
    bottom: 10px; /* Adjust as needed */
}

.footer-top-area::after {
    background-image: url("../img/bg-patern2.png");
}