.gb-green {
    background-color: #1D571E;
}

.gb-lgreen {
    background-color: #789461;
}

.gb-white {
    background-color: #F5F7F8;
}

.gb-green-text {
    color: #1D571E;
}

.gb-lgreen-text {
    color: #DBE7C9;
}

.gb-white-text {
    color: #F5F7F8;
}

.hover-cursor:hover {
    cursor: pointer;
}