@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-outline {
    text-shadow: 2px 2px 4px #000000;
}

.icon-hover {
    transition: transform 0.5s ease-in-out;
}

.icon-hover:hover {
    transform: rotate(360deg);
}