.text-logo {
    font-family: 'Old English Text MT', serif;
}


.link {
    color: #1D571E !important;
    font-size: 1.3rem;
    font-weight: normal;
    text-decoration: none !important;
    margin-top: 0;
}

.a-link {
    color: #F5F7F8 !important;
    text-decoration: none !important;
}

.text-outline {
    text-shadow: 2px 2px 4px #000000;
}

.footer-top-area::after {
    background-image: url("../img/bg-patern22.png");
}

.next-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.3rem 1.5rem;
    background-color: lightgrey;
    color: #000;
    border: .5px solid black;
    border-radius: 0px;
    font-size: 90%;
    font-weight: 300;
}

.next-button:hover {
    background-color: #838383;
}

.item-name {
    color: #DBE7C9;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    margin: 4% 0 0.5rem;
    text-align: center;
    text-shadow: .08em 4px 0px rgba(163, 191, 168, 0.5); /* 50% opacity */
    font-size: 3.5rem;
}

/* For tablets and small desktops */
@media (max-width: 992px) {
    .item-name {
        font-size: 2.5rem;
        margin-top: 20%;
    }
}

.category-button {
    background-color: lightgrey !important;
    color: #000 !important;
    border: .5px solid black !important;
    border-radius: 0px !important;
    font-size: 90%!important;
    font-weight: 300 !important;
    width: 150px!important; 
    height: 50px!important;
    text-align: center!important;
    white-space: normal!important;
    word-wrap: break-word!important;
}

.category-button:hover {
    background-color: #838383;
}

